[submodule "vim/vim.symlink/bundle/numbers.vim"]
	path = vim/vim.symlink/bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim.symlink/bundle/vim-rails"]
	path = vim/vim.symlink/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/vim-endwise"]
	path = vim/vim.symlink/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/vim-ruby"]
	path = vim/vim.symlink/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim.symlink/bundle/vim-railscasts-theme"]
	path = vim/vim.symlink/bundle/vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/jellybeans.vim"]
	path = vim/vim.symlink/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "vim/vim.symlink/bundle/vim-ctrlp"]
	path = vim/vim.symlink/bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/vim-json"]
	path = vim/vim.symlink/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/vim.symlink/bundle/YouCompleteMe"]
	path = vim/vim.symlink/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/vim.symlink/bundle/vim-fireplace"]
	path = vim/vim.symlink/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim/vim.symlink/bundle/vimroom"]
	path = vim/vim.symlink/bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "vim/vim.symlink/bundle/vim-arduino-ino"]
	path = vim/vim.symlink/bundle/vim-arduino-ino
	url = https://github.com/jplaut/vim-arduino-ino.git
[submodule "vim/vim.symlink/bundle/vim-arduino-syntax"]
	path = vim/vim.symlink/bundle/vim-arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax.git
