{:aliases
 {:1.8 {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
  :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.3"}}}

  ;; NOTE: Don't use :main-opts in 'chained' -A aliases. Use -M instead

  ; invoke with clojure -M:rebel
  ; NOTE: Don't use with the 'clj' or another readline-based system
  :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                       org.clojure/tools.namespace {:mvn/version "RELEASE"}}
          :main-opts ["-m" "rebel-readline.main"]}

  :paravim {:extra-deps {paravim/paravim {:mvn/version "RELEASE"}}
            :main-opts ["-m" "paravim.start"]}

  :reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.2.186"}}
           :main-opts ["-m" "vlaaad.reveal" "repl"]}

  :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "RELEASE"}
                           org.clojure/tools.namespace {:mvn/version "RELEASE"}
                           cider/piggieback {:mvn/version "RELEASE"}
                           nrepl/nrepl {:mvn/version "RELEASE"}}
              :main-opts ["-m" "nrepl.cmdline"
                          "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"
                          "--interactive"]}

  :build-repl {:paths ["."]
               :extra-deps {cider/cider-nrepl {:mvn/version "RELEASE"}
                            nrepl/nrepl {:mvn/version "RELEASE"}
                            org.clojure/tools.namespace {:mvn/version "RELEASE"}
                            io.github.clojure/tools.build {:mvn/version "RELEASE"}}
               :ns-default build
               :main-opts ["-i" "build.clj"
                           "-m" "nrepl.cmdline"
                           "--middleware" "[cider.nrepl/cider-middleware]"
                           "--interactive"]}

  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
        :exec-fn hf.depstar/jar
        :exec-args {}}

  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true}}

  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote}}

  :socket {:jvm-opts ["-Dclojure.server.repl={:port,41000,:accept,clojure.core.server/repl}"]}

  :new {:extra-deps {seancorfield/clj-new {:mvn/version "1.1.228"}}
        :ns-default clj-new}}}
